<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>دسته بندی مقالات</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->

            {% for category in categories %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            {% if category.articlecategory_set.all %}
                                <a data-toggle="collapse" data-parent="#accordian" href="#{{ category.url_title }}">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    {{ category.title }}
                                </a>
                            {% else %}
                                <a href="{% url 'articles_by_category_page' category.url_title %}">
                                    <span class="badge pull-right"></span>
                                    {{ category.title }}
                                </a>
                            {% endif %}
                        </h4>
                    </div>
                    <div id="{{ category.url_title }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="{% url 'articles_by_category_page' category.url_title %}"><b>تمام مقاله ها</b></a></li>
                                {% for sub_cat in category.articlecategory_set.all %}
                                	<li><a href="{% url 'articles_by_category_page' category=sub_cat.url_title %}"> {{ sub_cat.title }} </a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div><!--/category-productsr-->
    </div>
</div>