<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
    {% for category in categories %}
    	<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordian" href="#{{ category.url_title }}">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    {{ category.title }}
                </a>
            </h4>
        </div>
        <div id="{{ category.url_title }}" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li><a href="{% url 'products_by_category_page' category.url_title %}"><b>تمام محصولات</b></a></li>
                    {% for sub_category in category.productcategory_set.all %}
                    	<li><a href="{% url 'products_by_category_page' sub_category.url_title %}"> {{ sub_category.title }} </a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    {% endfor %}

</div><!--/category-productsr-->